SECRET_KEY=


DEBUG=
ALLOWED_HOSTS=

NAME=
USER=
PASSWORD=
HOST=
PORT=
a
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

STRIPE_API_KEY=
STRIPE_PUBLIC_KEY=
STRIPE_WEBHOOK_SECRET=

REDIS_HOST=
REDIS_PORT=
REDIS_DB=
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=

EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=